body,select,option {
  font-family: "Open Sans" !important;
}
header {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  /* font-family: Bitter !important; */
}

/* img del logo */
.laboratoria {
  height: 70px;
  width: 190px;
  float: left;
}
/* se queda para las dos primeras iniciales de la persona del loggin */
.initial {
  color: #fafafa;
  background-color: #bdbdbd;
  width: 60px;
  height: 60px;
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  float: right;
  margin-top: 8px;
}
/* nombre de la persona y correo */
.loggin {
  float: right;
  margin-right: 10px;
  text-align: right;
}
.woMarginBottom {
  margin-bottom: 0;
}
.woMarginTop {
  margin-top: 0;
}
.letterGray {
  color: #8d8a8a;
}
