body,select,option {
  font-family: "Open Sans" !important;
}

#Login {
  display: inline-block;
  position: absolute;
  right: 80px;
  top: 17px;
}

#Login p {
  display: inline-block;
}

#logo {
  display: inline-block;
}

#logo img {
  margin-top: 5px;
  width: auto;
  height: 100px;
}

#photo {
  display: inline-block;
  right: 40px;
  top: 15px;
  position: absolute;
}

#photo img {
  width: 80px;
  height: 80px;
}



/* header {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
  font-family: Bitter !important;
}

/* img del logo */
/* .laboratoria {
  height: 70px;
  width: 190px;
  float: left;
}  */
/* se queda para las dos primeras iniciales de la persona del loggin */


/* .initial {
  color: #fafafa;
  background-color: #999898;
  width: 60px;
  height: 60px;
  display: flex;
  font-size: 1.25rem;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  float: right;
} */


/* nombre de la persona y correo */
/* .loggin {
  float: right;
  margin-right: 10px;
  text-align: right;
  color: gray;
} */

#tableData thead th {
  background-color:#FFE521;
}
#tableData td, #tableData thead th{
  text-align: center;
}

#tableData td {
  text-align: center;
}

/* editando clases de bootstrap */
.container-fluid {
  padding-top: 15px;
}
